USE [DanielMarcal_MarceloPereira]
GO
/****** Object:  Schema [PJ]    Script Date: 28/11/2019 10:24:44 ******/
CREATE SCHEMA [PJ]
GO
/****** Object:  Table [PJ].[AUDITORIA]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[AUDITORIA](
	[AUDITORIA_KEY] [int] NOT NULL,
	[REGISTADO_EM] [date] NULL,
	[ROWS_EXTRACTED] [int] NULL,
	[ROWS_INSERTED] [int] NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDITORIA_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimCLIENTE]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimCLIENTE](
	[CLIENTE_KEY] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[CONTACTO] [char](9) NULL,
	[TIPO_DE_CLIENTE] [varchar](40) NOT NULL,
	[DISTRITO] [varchar](30) NULL,
	[CONCELHO] [varchar](30) NULL,
	[MORADA] [varchar](100) NULL,
	[CÓDIGO_POSTAL] [varchar](15) NULL,
	[GÉNERO] [varchar](15) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[ESTADO_CIVIL] [varchar](15) NULL,
	[DEPENDENTES] [int] NULL,
	[NIF] [char](9) NULL,
	[NACIONALIDADE] [varchar](30) NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIENTE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimDATA]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimDATA](
	[DATA_KEY] [int] NOT NULL,
	[DATA_] [date] NOT NULL,
	[DESCRIÇÃO_DA_DATA] [nchar](10) NULL,
	[DIA_DA_SEMANA] [varchar](10) NULL,
	[MÊS_DO_ANO] [varchar](10) NULL,
	[ANO_CIVIL] [int] NULL,
	[DIA_DO_MÊS] [int] NULL,
	[NÚMERO_DA_SEMANA] [int] NULL,
	[TRIMESTRE] [int] NULL,
	[INDICADOR_DE_FERIADO] [varchar](50) NULL,
	[INDICADOR_FIM_DE_SEMANA] [varchar](50) NULL,
	[SEMESTRE_ESCOLAR] [int] NULL,
	[SEMETRE_EFETIVO] [int] NULL,
	[ANO_ESCOLAR] [int] NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
 CONSTRAINT [PK__DimDATA__AD00A604C6ECF48D] PRIMARY KEY CLUSTERED 
(
	[DATA_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimFORNECEDOR]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimFORNECEDOR](
	[FORNECEDOR_KEY] [int] NOT NULL,
	[ALVARÁ] [int] NULL,
	[NOME] [varchar](100) NOT NULL,
	[CONTACTO] [char](9) NULL,
	[EMAIL] [varchar](40) NOT NULL,
	[DISTRITO] [varchar](30) NULL,
	[CONCELHO] [varchar](30) NULL,
	[MORADA] [varchar](150) NULL,
	[CÓDIGO_POSTAL] [varchar](15) NULL,
	[PAÍS] [varchar](50) NULL,
	[DATA_FIM_CONTRATO] [date] NULL,
	[NIB] [varchar](30) NULL,
	[NIF] [char](9) NULL,
	[WEBSITE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimFUNCIONÁRIO]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimFUNCIONÁRIO](
	[FUNCIONÁRIO_KEY] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[CONTACTO] [char](9) NULL,
	[HABILITAÇÕES] [varchar](50) NULL,
	[CATEGORIA_FUNCIONÁRIO] [varchar](50) NULL,
	[TURNO] [varchar](20) NULL,
	[DISTRITO] [varchar](30) NULL,
	[CONCELHO] [varchar](30) NULL,
	[MORADA] [varchar](100) NULL,
	[CÓDIGO_POSTAL] [varchar](15) NULL,
	[GÉNERO] [varchar](15) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[ESTADO_CIVIL] [varchar](15) NULL,
	[DEPENDENTES] [int] NULL,
	[NACIONALIDADE] [varchar](30) NULL,
	[NIF] [char](9) NULL,
	[NIB] [varchar](50) NULL,
	[SALÁRIO] [money] NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
 CONSTRAINT [PK__DimFUNCI__5B7C4A6BEE558237] PRIMARY KEY CLUSTERED 
(
	[FUNCIONÁRIO_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimHORA]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimHORA](
	[HORA_KEY] [int] NOT NULL,
	[HORA] [int] NOT NULL,
	[MINUTO] [int] NOT NULL,
	[PERÍODO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HORA_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimPRODUTO]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimPRODUTO](
	[PRODUTO_KEY] [int] NOT NULL,
	[CATEGORIA] [varchar](30) NULL,
	[NOME_PRODUTO_PT] [nchar](10) NULL,
	[NOME_PRODUTO_EN] [varchar](50) NULL,
	[NOME_PRODUTO_FR] [varchar](50) NULL,
	[NOME_PRODUTO_ES] [varchar](50) NULL,
	[NOME_PRODUTO_DE] [nchar](10) NULL,
	[MARCA] [varchar](40) NULL,
	[DATA_COMPRA] [date] NULL,
	[DESCRIÇÃO_PT] [varchar](50) NULL,
	[DESCRIÇÃO_EN] [varchar](50) NULL,
	[DESCRIÇÃO_FR] [varchar](50) NULL,
	[DESCRIÇÃO_ES] [varchar](50) NULL,
	[DESCRIÇÃO_DE] [varchar](50) NULL,
	[SUBCATEGORIA] [varchar](50) NULL,
	[COR] [varchar](15) NULL,
	[PESO] [decimal](18, 2) NULL,
	[VOLUME] [int] NULL,
	[STOCK_MÍNIMO] [int] NULL,
	[STOCK_MÁXIMO] [int] NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
 CONSTRAINT [PK__DimPRODU__04E4AB419114CD54] PRIMARY KEY CLUSTERED 
(
	[PRODUTO_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[DimSETOR_DE_VENDA]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[DimSETOR_DE_VENDA](
	[SETOR_KEY] [int] NOT NULL,
	[DESCRIÇÃO] [varchar](100) NOT NULL,
	[EXTENSÃO_TELEFÓNICA] [varchar](9) NULL,
	[LOCALIZAÇÃO] [varchar](50) NULL,
	[ESCOLA] [varchar](50) NULL,
	[ÀREA_ÚTIL] [decimal](18, 4) NULL,
	[UNIDADE_ORGÂNICA] [varchar](50) NULL,
 CONSTRAINT [PK__DimSETOR__ADC49E4FCF211B6A] PRIMARY KEY CLUSTERED 
(
	[SETOR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PJ].[FactTRANSAÇÃO]    Script Date: 28/11/2019 10:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PJ].[FactTRANSAÇÃO](
	[TRANSAÇÃO_KEY] [int] NOT NULL,
	[DATA_KEY] [int] NOT NULL,
	[HORA_KEY] [int] NOT NULL,
	[PRODUTO_KEY] [int] NOT NULL,
	[CLIENTE_KEY] [int] NOT NULL,
	[FUNCIONÁRIO_KEY] [int] NOT NULL,
	[SETOR_KEY] [int] NOT NULL,
	[PREÇO_TOTAL] [money] NULL,
	[PREÇO_UNITÁRIO] [money] NULL,
	[TIPO_PAGAMENTO] [varchar](50) NULL,
	[QUANTIDADE] [decimal](18, 5) NULL,
	[DESCONTO] [decimal](18, 5) NULL,
	[IMPOSTO] [decimal](18, 5) NULL,
	[ESTADO] [varchar](50) NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FIM] [date] NULL,
 CONSTRAINT [PK__FactTRAN__4283B62A123A8E3D] PRIMARY KEY CLUSTERED 
(
	[TRANSAÇÃO_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimCLIENTE] FOREIGN KEY([CLIENTE_KEY])
REFERENCES [PJ].[DimCLIENTE] ([CLIENTE_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimCLIENTE]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimDATA] FOREIGN KEY([DATA_KEY])
REFERENCES [PJ].[DimDATA] ([DATA_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimDATA]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimFUNCIONÁRIO] FOREIGN KEY([FUNCIONÁRIO_KEY])
REFERENCES [PJ].[DimFUNCIONÁRIO] ([FUNCIONÁRIO_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimFUNCIONÁRIO]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimHORA] FOREIGN KEY([HORA_KEY])
REFERENCES [PJ].[DimHORA] ([HORA_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimHORA]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimPRODUTO] FOREIGN KEY([PRODUTO_KEY])
REFERENCES [PJ].[DimPRODUTO] ([PRODUTO_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimPRODUTO]
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO]  WITH CHECK ADD  CONSTRAINT [FK_FactTRANSAÇÃO_DimSETOR_DE_VENDA] FOREIGN KEY([SETOR_KEY])
REFERENCES [PJ].[DimSETOR_DE_VENDA] ([SETOR_KEY])
GO
ALTER TABLE [PJ].[FactTRANSAÇÃO] CHECK CONSTRAINT [FK_FactTRANSAÇÃO_DimSETOR_DE_VENDA]
GO
